{
    "presets":[
        [
            "env",
            {
                "targets":{
                    "node:":"9.3.0"
                }
            }
        ]
    ],
    "plugins": [
        "transform-runtime",
        "transform-async-to-generator"
    ]
}