.home{
    height: 100vh;
    width: 33%;
    border:2px solid white;
}


@media(max-width:1024px){
    .home{
        width: 70%;
        border:2px solid white;
    }
}

@media(max-width:568px){
    .home{
        width: 85%;
        border:2px solid white;
    }
}