.profile__topbar__icon{
    color:rgba(29,161,242,1) !important;
}

.profile__topbar__icon__outside{
    width: 30px;
    height: 30px;
}

.profile__topbar__icon__outside:hover{
    background-color: rgba(29,161,242,0.3);
    border-radius: 50%;
}

.profile__banner__img__div{
    height: 12vw;
    
}

.profile__banner__img{
    height: 12vw;
    width: 100%;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}

.profile__banner__img:hover{
    opacity: 0.5;
    cursor: pointer;
}

.profile__banner__details{
    height: 14vw;
    width:100% ;    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom:1px solid grey ;
}

.profile__avatar{
    width: 8vw;
    height: 8vw;
    position: absolute;
    z-index: 1;
    top: 28%;  
    margin-left: 2vh;
    border-radius: 50%;
}

.profile__avatar__image{
    width: 8vw;
    height: 8vw;
    border-radius: 50%;
}

.profile__edit__button{
    background-color: transparent;
    color:rgba(29,161,242,1);
    border:2px solid rgba(29,161,242,1);
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
    width: 7vw;
    height: 5vh;
    font-size: 1vw;
}

.profile__edit__not__found{
    width: 7vw;
    height: 5vh;
}

.profile__edit__button:hover{
    background-color:rgba(29,161,242,0.1);
}

.profile__details__text{
    font-size: 1vw;
}

.profile__edit__modal{
    background-color:rgb(21, 32, 43);
}

.profile__navigation{
    height: 3vw;
}
.profile__navigation__list{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    padding:0;
}

.profile__navigation__item{
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 2em 0 2em;
}

.profile__navigation__item:hover{
    background-color:rgba(29,161,242,0.1);
}

.profile__navigation__link{
    color:rgba(29,161,242,1);
    font-weight: bold;
}

.profile__navigation__link:hover{
    color:rgba(29,161,242,1);
    text-decoration: none;
}

.profile__link__active{
    border-bottom: 2px solid rgba(29,161,242,1);
}

.profile__edit__modal__fields{
    background-color:rgba(37,56,75,0.5);
    border:none;
    border-bottom: 1px solid grey;
    border-radius: 0;
    color:white;
}

.profile__edit__modal__fields:focus{
    background-color:rgba(37,56,75,0.5);
    outline: none;
    box-shadow: none;
    border-bottom: 2px solid rgba(29,161,242,1);
    color:white;
}