@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

.signin__background{
    background-image: url('./../images/blue_smoke_background.jpg.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
}

.signin__title__font{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
}

.signin__text__font{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
}

.signin__banner{
    width: 100%;
    height: min(31vh,50vh);
    background-color: rgb(29, 161, 242);
    color: white;
    font-size: 1.10rem;
    font-weight: bold;
}


.signin__banner__text{
    height: 33.33%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.signin__button{
    background-color: transparent;
    color:white;
    border:2px solid rgba(29,161,242,1);
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
    width: max(100px,7vw);
    height: 5vh;
    font-size: clamp(1rem,1.25rem,1vw);
    font-weight: bold;
}

.signin__button:hover{
    background-color:rgba(29, 161, 242, 0.3);
}

.signin__button:focus{
    outline: none;
}


.not__logged__banner{
    width:100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    background-color: rgb(29, 161, 242);
    position: fixed;
    z-index:1000;
    bottom:0px;
    margin:0;

}

.not__logged__banner__container{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.not__logged__banner__container__buttons{
    width: max(40%,400px);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around
}

.not__logged__banner__container__button{
    width: min(300px,40%);
    height: 4vh;
    border:1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(0.8rem,1.25vw,1.25rem);
    border-radius: 9999px;
    font-weight: bold;
    font-family: 'Rowdies', cursive;
}

.not__logged__banner__container__button:hover{
    background-color:rgba(29, 161, 242, 0.3);
}

.not__logged__banner__container__text{
    width: max(300px,60%);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-family: "Roboto" sans-serif;
   
}
.not__logged__banner__container__title{
    font-size:clamp(1rem,1.5vw,1.5rem);
   
}


@media(max-width:1024px){
    .not__logged__banner__container{
        width: 70%;
    }
}

@media (max-width: 575.98px) {
    .not__logged__banner{
       display: none;
    }
}
@media (max-width: 1024px) and (max-height:768px) and (orientation: landscape) {
    .signin__button{
        height: 6vh !important;
    }
}

@media (max-width: 1024px) and (max-height:575.68px) and (orientation: landscape) {
    .signin{
        height: 100%;
        display: flex;
        flex-direction: row-reverse;

        overflow: auto;
    }

    .signin__information__wrapper{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 50%;
    }

    .signin__banner{
        height: 100%;
    }

    .signin__banner__wrapper{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 50%;
        border: 2px solid red;
    }

    .signin__button{
        height: 10vh !important;
        font-size: clamp(1rem,1.25rem,1vw);
        font-weight: bold;
        margin-bottom: 2vh;
    }
}
